.footer {
    margin-left: 23%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
    max-width: 1000px;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 30px;
    border-top: 3px solid rgba(255, 255, 255, 0.5);
}

.footer__text-L {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}

.footer__logo-container {
    margin-top: 20px;
}

.footer__text-R {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}