* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #020017; */
}

body {
    background-color: #1A1E31;
    background-image: url(../image/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}