@import "vars",
"libs",
"fonts",
"global",
"media",
"header",
"footer",
"slick",
"slick-theme";
.main {
    margin-left: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1190px;
    &__title {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 48px;
        text-align: center;
    }
}

.cases {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.case {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 155px;
    margin: 25px;
    transition: all 0.5s;
    &:hover &__price {
        transform: scale(1.1);
    }
    &__img {
        width: 100%;
        max-width: 160px;
        max-height: 120px;
    }
    &__text {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    &__price {
        background: #571182;
        width: 120px;
        /* padding   : 5px 50px; */
        height: 35px;
        border-radius: 90px;
        transition: all 0.5s;
    }
    &__price-text {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        padding: 5px;
        text-align: center;
    }
    &__price {
        color: #fff;
    }
}

.text-left {
    color: #fff;
    margin-right: 13%;
}

.text-right {
    color: #fff;
}

.footer {
    margin-left: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


/* page contract */

.content {
    max-width: 974px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contract {
    align-items: center;
    text-align: center;
    &__info {
        text-align: center;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
    }
    &__chance {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
    }
    &__create {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        color: rgba(0, 0, 0, 0.19);
        background: rgba(255, 0, 0, 0.52);
        border-radius: 45px;
        padding: 14px 50px;
        margin-bottom: 50px;
        margin-top: 5px;
    }
    &__create-text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.19);
    }
}

.info__button {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    text-align: center;
    margin: 25px 0;
}

.drop {
    width: 90%;
    max-width: 1060px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &__header {
        width: 100%;
        height: 67px;
        background-color: rgba(0, 255, 194, 0.12);
    }
    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        padding: 20px 35px;
    }
    &__body {
        background-color: rgba(31, 40, 80, 0.38);
    }
    &__list {
        background-image: url(../image/Rifle.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        margin-bottom: 126px;
        height: 330px;
    }
    &__list::after {
        content: "Откройте любой кейс";
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.62);
        top: 0;
        left: 0;
        height: 6em;
        display: flex;
        align-items: center;
        justify-content: center
    }
    &__item {
        max-width: 150px;
        visibility: hidden;
    }
}

.item__img {
    width: 100%;
}

.chicken {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    &__img {
        margin-right: 188px;
    }
    &__info {
        flex-wrap: wrap;
        max-width: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 15px;
    }
    &__price {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 44px;
    }
    &__opening-text {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
    }
    &__button {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        color: rgba(0, 0, 0, 0.19);
        background: rgba(255, 0, 0, 0.52);
        border-radius: 45px;
        padding: 17px 128px;
        margin-bottom: 50px;
        margin-top: 5px;
    }
    &__button-text {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.19);
    }
    &__opening-button {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 25px;
        padding: 0 20px;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
    }
    &__opening-button:focus {
        background: #920F17;
    }
}

.сontents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.сontent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    margin: 26px;
    &__text {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        text-align: center;
    }
    &__knife-fly {
        background: linear-gradient(180deg, rgba(255, 1, 32, 0.147) 0%, rgba(97, 0, 255, 0.18) 100%);
        border: 3px solid #6100FF;
        box-sizing: border-box;
    }
    &__ak {
        background: linear-gradient(180deg, rgba(255, 138, 1, 0.147) 0%, rgba(255, 0, 0, 0.18) 100%);
        border: 3px solid #FF0000;
        box-sizing: border-box;
    }
    &__gloves {
        background: linear-gradient(180deg, rgba(255, 1, 32, 0.147) 0%, rgba(97, 0, 255, 0.18) 100%);
        border: 3px solid #6100FF;
        box-sizing: border-box;
    }
    &__M4A1 {
        background: linear-gradient(180deg, rgba(255, 230, 1, 0.18) 0%, rgba(51, 255, 0, 0.18) 100%);
        border: 3px solid #33FF00;
        box-sizing: border-box;
    }
    &__knife {
        background: linear-gradient(180deg, rgba(255, 138, 1, 0.147) 0%, rgba(255, 0, 0, 0.18) 100%);
        border: 3px solid #FF0000;
        box-sizing: border-box;
    }
}

.chickenSlider {
    padding: 0 10px;
    // display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 823px;
    height: 193.97px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 117px;
    border: 3px solid #FF0000;
    box-sizing: border-box;
    &__knife-fly {
        background: linear-gradient(180deg, rgba(255, 1, 32, 0.147) 0%, rgba(97, 0, 255, 0.18) 100%);
        border-radius: 45px;
        width: 118px;
        height: 158px;
        margin: 13px;
        border: 3px solid #6100FF;
        box-sizing: border-box;
    }
    &__img {
        width: 102.09px;
        height: 102.09px;
        margin: 10px;
    }
    &__text {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #FFFFFF;
    }
    &__ak {
        background: linear-gradient(180deg, rgba(255, 138, 1, 0.147) 0%, rgba(255, 0, 0, 0.18) 100%);
        border-radius: 45px;
        width: 118px;
        height: 163px;
        margin: 10px;
        border: 3px solid #FF0000;
        box-sizing: border-box;
    }
    &__gloves {
        background: linear-gradient(180deg, rgba(255, 1, 32, 0.147) 0%, rgba(97, 0, 255, 0.18) 100%);
        border-radius: 45px;
        width: 118px;
        height: 163px;
        margin: 10px;
        border: 3px solid #6100FF;
        box-sizing: border-box;
    }
    &__M4A1 {
        background: linear-gradient(180deg, rgba(255, 230, 1, 0.18) 0%, rgba(51, 255, 0, 0.18) 100%);
        border-radius: 45px;
        width: 118px;
        height: 163px;
        margin: 10px;
        border: 3px solid #33FF00;
        box-sizing: border-box;
    }
    &__knife {
        background: linear-gradient(180deg, rgba(255, 138, 1, 0.147) 0%, rgba(255, 0, 0, 0.18) 100%);
        border-radius: 45px;
        width: 118px;
        height: 163px;
        margin: 10px;
        border: 3px solid #FF0000;
        box-sizing: border-box;
    }
}

.random {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 100%;
}

.random__ak {
    background: linear-gradient(180deg, rgba(255, 138, 1, 0.147) 0%, rgba(255, 0, 0, 0.18) 100%);
    width: 150px;
    height: 200px;
    // justify-content: space-between;
    // overflow: hidden;
    // display: flex;
    // justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    border: 3px solid #FF0000;
    box-sizing: border-box;
}

.random__img {
    padding: 10px 5px;
}

.random__text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 5px 15px;
}

.random__info {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 17px;
}

.random__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 54px;
}

.random__button-again {
    background: linear-gradient(180deg, rgba(219, 255, 0, 0.1) 0%, rgba(0, 255, 10, 0.1) 100%);
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 18px 20px;
    margin-right: 132px;
    border: 1px solid #00FF0A;
    box-sizing: border-box;
}

.random__button-sell {
    background: linear-gradient(180deg, rgba(219, 255, 0, 0.1) 0%, rgba(0, 255, 10, 0.1) 100%);
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 18px 20px;
    border: 1px solid #00FF0A;
    box-sizing: border-box;
}

.upgrade__title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 31px;
    position: relative;
}

.skin {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 184px;
    &__selection {
        flex-direction: column;
    }
    &__selection-text {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
    }
}

.notChosen {
    background: url(../image/circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 227px;
    width: 227px;
    // width: 100%;
    // height: 100%;
    padding: 47px 41px;
    &__text {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 10px;
    }
}

.search {
    border-left: 3px solid #9E9E9E;
    width: 100%;
    position: relative;
}

.search__form {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 20px;
}

.upgrade__сontents {
    overflow-y: scroll;
    max-width: 100%;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    border-radius: 15px;
    padding: 1rem;
    overflow-y: auto;
    direction: ltr;
    scrollbar-color: #000 #9E9E9E;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 20px;
    }
    &::-webkit-scrollbar-track {
        background-color: #9E9E9E;
        border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        border: 5px solid transparent;
        background-clip: content-box;
        background-color: #000;
    }
}

.upgrade__section {
    background: rgba(239, 239, 239, 0.1);
    max-width: 1133px;
    max-height: 684px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.upgrade__objects {
    flex-direction: column;
    margin-right: 93px;
    display: flex;
    margin-bottom: 50px;
    &-text {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 20px;
        margin-top: 20px;
    }
    &-button {
        margin-top: 30px;
        margin-bottom: 200px;
        background: radial-gradient(96.67% 96.67% at 50% 50%, #BB0000 0%, rgba(187, 0, 0, 0) 100%);
        border-radius: 45px;
        padding: 12px 39px;
        margin-left: 30px;
    }
}