* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #020017; */
}

body {
    background-color: #1A1E31;
    background-image: url(img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: #fff;
}

#menu__toggle {
    display: none;
}

.menu__label {
    display: flex;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 15;
    position: fixed;
    top: 15px;
    left: 15px;
    align-items: center;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo__container {
    margin-bottom: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 83px;
}

.login {
    margin-bottom: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__link {
    font-family: Impact;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 3%;
    text-align: center;
}


/* .user {
    margin-bottom: 115px;
}

.user__link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
}

.user__link::before {
    case: "";
    width: 181px;
    height: 0px;
    position: absolute;s
    left: -313px;
    z-index: 2;
    top: 51px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    filter: blur(5px);
} */

.nav__panel {
    display: flex;
    flex-direction: column;
}

.nav__panel-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 17%;
    text-align: center;
}

.lottery {}

.lottery__link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.header {
    margin-left: 17%;
}


/* .lottery__link::before {
    case: "";
    width: 246px;
    height: 0px;
    background: #fff;
    position: absolute;
    left: -313px;
    z-index: 2;
    top: 51px;
} */

.slider {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    height: 80px;
}

.slider__img {
    background: radial-gradient(60.18% 50% at 50% 50%, #BB0000 0%, rgba(187, 0, 0, 0.276042) 70.83%, rgba(187, 0, 0, 0) 100%);
    backdrop-filter: blur(4px);
    width: 120px;
    height: 80px;
}

.statistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    white-space: nowrap;
}

.statistics__item {
    /* margin-right: calc(30px + (160 - 30) * ((100vw - 375px) / (1600 - 375))); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.statistics__number {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* background-size: 3em 3em, 2em 2em;
    animation-name: stat;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    mix-blend-mode: screens; */
}

@keyframes stat {
    from {
        background-position: 0;
    }
    to {
        background-position: 100% 0;
    }
}

.statistics__text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.cases-number {
    background: linear-gradient(90deg, #FF0000 0%, #DEA000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cases-text {
    background: linear-gradient(270deg, #FF0000 -3.03%, #DEA000 102.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contracts-number {
    background: linear-gradient(89.72deg, #30FF83 0.22%, #0038FF 99.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contracts-text {
    background: linear-gradient(269.93deg, #30FF83 -1.35%, #0038FF 101.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.upgrades-number {
    background: linear-gradient(90deg, #00D1ED 0%, #FF00E5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.upgrades-text {
    background: linear-gradient(270deg, #00D1ED 2.43%, #FF00E5 100.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.users-number {
    background: linear-gradient(90deg, #FF00E5 0%, #EBFF00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.users-text {
    background: linear-gradient(270deg, #FF00E5 -0.82%, #EBFF00 100.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-number {
    background: linear-gradient(270deg, #F1BC00 -11.47%, #00D1FF 101.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-text {
    background: linear-gradient(90deg, #F1BC00 0%, #00D1FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cases-number,
.cases-text,
.contracts-number,
.contracts-text,
.upgrades-number,
.upgrades-text,
.users-number,
.users-text,
.online-number,
.online-text {
    background-size: 3em 3em, 2em 2em;
    animation-name: stat;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    mix-blend-mode: screens;
}

.promocode {
    /* max-width: 1194px; */
    height: 90px;
    background: linear-gradient(99.35deg, #FF0000 -76.35%, rgba(255, 0, 0, 0) 88.67%);
    transform: rotate(-180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.promocode__timer {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(-180deg);
}

.promocode__text {
    font-family: "Roboto", Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(-180deg);
    padding: 28px;
}

.main {
    margin-left: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__title {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 48px;
    text-align: center;
}

.cases {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.case {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 155px;
    margin: 25px;
}

.case__img {
    width: 100%;
}

.case__text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}


/* .case+.case {
    margin-left: 50px;
} */

.case__price {
    background: #571182;
    width: 120px;
    /* padding   : 5px 50px; */
    height: 35px;
    border-radius: 90px;
}

.case__price-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    padding: 5px;
    text-align: center;
}

.case__price {
    color: #fff;
}

.text-left {
    color: #fff;
    margin-right: 13%;
}

.text-right {
    color: #fff;
}

.footer {
    margin-left: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}