* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #020017; */
}

body {
    background-color: #020017;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    position: fixed;
}

.logo__container {
    margin-bottom: 105px;
}

.login {
    margin-bottom: 70px;
}

.login__link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.user {
    margin-bottom: 115px;
}

.user__link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
}

.user__link::before {
    case: "";
    width: 181px;
    height: 0px;
    /* position: absolute; */
    left: -313px;
    z-index: 2;
    top: 51px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    filter: blur(5px);
}

.nav__panel {
    display: flex;
    flex-direction: column;
}

.nav__panel-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
}

.lottery {
    margin-top: 420px;
}

.lottery__link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
}


/* .lottery__link::before {
    case: "";
    width: 246px;
    height: 0px;
    background: #fff;
    position: absolute;
    left: -313px;
    z-index: 2;
    top: 51px;
} */

.main {
    margin-left: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__title {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 48px;
    text-align: center;
}

.cases {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.case {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 155px;
}

.case__img {
    width: 100%;
}

.case__text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.case+.case {
    margin-left: 50px;
}

.case__price {
    background: #571182;
    width: 120px;
    /* padding   : 5px 50px; */
    height: 35px;
    border-radius: 90px;
}

.case__price-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    padding: 5px;
    text-align: center;
}

.case__price .text-left {
    color: #fff;
}

.text-right {
    color: #fff;
}

.footer {
    display: none;
}